.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*********About Me*********/
.about-me {
  top: auto;
  height: 100vh;
  background-color: rgb(4, 8, 71);
}

.about-me-name {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-me-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 300px;
  margin-right: 300px;
}

.particle {
  position: absolute;
  top: 56px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/*********Skills*********/
.skills {
  height: 100vh;
  background-color: white;
}

.skills-text {
  display: flex;
  padding-top: 80px;
  justify-content: center;
}

.skills-heading {
  text-decoration: underline;
  text-decoration-color: teal;
  margin-bottom: 20px;
}
/*********Portfolio*********/
.portfolio {
  height: 100vh;
  background-color: thistle;
}

/*********Contact Me*********/
.contact-me {
  height: 100vh;
  background-color: black;
}

.contact-me-heading {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  text-align: justify;
  color: white;
}

.contact-me-say-hello {
  color: white;
  padding-top: 50px;
  margin-left: 200px;
  text-decoration: underline;
  text-decoration-color: teal;
}

.contact-me-email{
  margin-top: 100px;
  margin-right: 200px;
}

.contact-me-mail{
  color: white;
}

.contact-me-mail:hover{
  color: orange;
  transition: 1200ms;
}

.contact-me-phone{
  color: white;
}

.contact-me-phone:hover{
  color: orange;
  transition: 1200ms;
}